body {
    font-family: "Chivo Mono", monospace;
    background-color: rgb(165, 165, 165);
}

p {
    word-wrap: break-word;
}

a {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
    border: none;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
    border: none;
}

a:hover {
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 0;
    border: none;
}
